
@{
    ViewBag.Title = "HRM";
}

<h2>HR Management System</h2>

<div>
    <div class="row">
        <p>
            @Html.ActionLink("Department Viewer", "Index", "Departments")
        </p>
        <p>
            @Html.ActionLink("Employee Viewer", "Index", "Employees")
        </p>
        <p>
            @Html.ActionLink("Dependent Viewer", "Index", "Dependents")
        </p>
    </div>
</div>