<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="microsoft.visualstudio.testtools"
               type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions"/>
   </configSections>
   <connectionStrings>
      <add name="SQLConn" 
           connectionString="Data Source=<servername>;Initial Catalog=ComplexTests;Integrated Security=True" 
           providerName="System.Data.SqlClient" />
      <add name="XMLConn" 
           connectionString="|DataDirectory|\TestMultiplication.xml" 
           providerName="Microsoft.VisualStudio.TestTools.DataSource.XML" />
      <add name="CSVConn" 
           connectionString="|DataDirectory|\TestMultiplication.csv" 
           providerName="Microsoft.VisualStudio.TestTools.DataSource.CSV" />
      <add name="EXLConn" 
           connectionString="Dsn=Excel Files;DriverID=790;dbq=|DataDirectory|\TestMultiplication.xlsx" 
           providerName="System.Data.Odbc" />
   </connectionStrings>
   <microsoft.visualstudio.testtools>
      <dataSources>
         <add name="SQLDataSource" 
              connectionString="SQLConn" 
              dataTableName="Multiply" 
              dataAccessMethod="Sequential"/>
         <add name="XMLDataSource" 
              connectionString="XMLConn" 
              dataTableName="row" 
              dataAccessMethod="Sequential"/>
         <add name="CSVDataSource"
              connectionString="CSVConn"
              dataTableName="TestMultiplication#csv"
              dataAccessMethod="Sequential"/>
         <add name="EXLDataSource"
              connectionString="EXLConn"
              dataTableName="Multiply$"
              dataAccessMethod="Sequential"/>
      </dataSources>
   </microsoft.visualstudio.testtools>
</configuration>